#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Label_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Panel_1 > .valign {
  vertical-align: middle;
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Label_25 {
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #33B5E5;
  -ms-transform: rotate(0.0deg);
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Label_23 {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Rectangle_4 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Rectangle_5 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-0c2608ad-bc79-4972-b419-0b39cba05816 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}