#s-1d0ed7af-a62a-49ad-9712-e9bfa93524cb #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1d0ed7af-a62a-49ad-9712-e9bfa93524cb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1d0ed7af-a62a-49ad-9712-e9bfa93524cb #s-Rectangle_4 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d0ed7af-a62a-49ad-9712-e9bfa93524cb #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1d0ed7af-a62a-49ad-9712-e9bfa93524cb #s-Rectangle_5 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d0ed7af-a62a-49ad-9712-e9bfa93524cb #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1d0ed7af-a62a-49ad-9712-e9bfa93524cb #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1d0ed7af-a62a-49ad-9712-e9bfa93524cb #s-Rectangle_8 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d0ed7af-a62a-49ad-9712-e9bfa93524cb #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-1d0ed7af-a62a-49ad-9712-e9bfa93524cb #s-Category_1-options {
  background-color: transparent;
}
#s-1d0ed7af-a62a-49ad-9712-e9bfa93524cb #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-1d0ed7af-a62a-49ad-9712-e9bfa93524cb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}