#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 {
  background-color: transparent;
  background-image: none;
  min-width: 360px;
  min-height: 609px;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Label_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 48px;
  background-color: #DDDDDD;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Label_11 .valign {
  vertical-align: middle;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Image_2 {
  position: absolute;
  top: 11px;
  left: 2px;
  width: 19px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Group_3 {
  position: absolute;
  top: 114px;
  left: 30px;
  width: 256px;
  height: 30px;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Rectangle_4 {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 254px;
  height: 6px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8pt;
  font-family: Arial,Arial;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Rectangle_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Input_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 14px;
  width: 242px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 13pt;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Input_3 input {
  color: #828282;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Label_1 {
  position: absolute;
  top: 76px;
  left: 30px;
  width: 218px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Button_3 {
  position: absolute;
  top: 513px;
  left: 84px;
  width: 192px;
  height: 38px;
  background-color: #CECECE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Button_3 .valign {
  vertical-align: middle;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Button_4 {
  position: absolute;
  top: 570px;
  left: 84px;
  width: 192px;
  height: 38px;
  background-color: #CECECE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Button_4 .valign {
  vertical-align: middle;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Rich_text_1 {
  position: absolute;
  top: 171px;
  left: 30px;
  width: 300px;
  height: 115px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Rich_text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 #s-Image_64 {
  position: absolute;
  top: 113px;
  left: 304px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-6bcc6db2-6762-4fe6-bc75-524ca463f1b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}