#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 {
  background-color: transparent;
  background-image: none;
  min-width: 360px;
  min-height: 609px;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Label_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 48px;
  background-color: #DDDDDD;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Label_11 .valign {
  vertical-align: middle;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_1 {
  position: absolute;
  top: 13px;
  left: 323px;
  width: 20px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_2 {
  position: absolute;
  top: 11px;
  left: 2px;
  width: 19px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_18 {
  position: absolute;
  top: 228px;
  left: 95px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_19 {
  position: absolute;
  top: 228px;
  left: 133px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_20 {
  position: absolute;
  top: 228px;
  left: 171px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_17 {
  position: absolute;
  top: 228px;
  left: 209px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_21 {
  position: absolute;
  top: 228px;
  left: 247px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rich_text_1 {
  position: absolute;
  top: 76px;
  left: 20px;
  width: 320px;
  height: 77px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rich_text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rich_text_2 {
  position: absolute;
  top: 153px;
  left: 16px;
  width: 327px;
  height: 76px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rich_text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Label_1 {
  position: absolute;
  top: 285px;
  left: 16px;
  width: 308px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Group_3 {
  position: absolute;
  top: 323px;
  left: 30px;
  width: 300px;
  height: 30px;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rectangle_4 {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 298px;
  height: 6px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8pt;
  font-family: Arial,Arial;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rectangle_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Input_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 14px;
  width: 286px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Input_3 textarea {
  color: #828282;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Button_3 {
  position: absolute;
  top: 570px;
  left: 84px;
  width: 192px;
  height: 38px;
  background-color: #CECECE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Button_3 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}