#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Rectangle_4 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-943cebb8-1ff7-4461-9c5e-1e3c201a9475 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}