#s-efa42451-904e-44d9-9ce7-b4614f388ed3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-efa42451-904e-44d9-9ce7-b4614f388ed3 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-efa42451-904e-44d9-9ce7-b4614f388ed3 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-efa42451-904e-44d9-9ce7-b4614f388ed3 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-efa42451-904e-44d9-9ce7-b4614f388ed3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}